.header {
    height: 5.5rem;
    border-bottom: 1px solid black;
    z-index: 100;
    background: 0 0;
    display: block;
    width: 100%;
    position: relative;

    .container {
        padding: .25rem 2.5rem;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: 0 auto;


            .logo {
                flex: 0 0 30%;
            }


            .links {
               display: flex;
               font-size: 1.25rem;

               > a {
                font-weight: 700;
                margin: 0 .75rem;
            }
        }
    }
}